@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #618548 50%, #577841 100%);
  border-radius: 6px;
  border: 2px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e6a3a;
}
